<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CareerPath</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar py-3" role="banner">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-11 col-xl-2">
            <h1 class="mb-0"><a href="index.html" class="text-white h2 mb-0">Career<span class="text-primary">Path</span> </a></h1>
          </div>
          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
                <li class="active"><a href="">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contacts</a></li>
                <li class="cta"><a href="#">Buy Courses</a></li>
              </ul>
            </nav>
          </div>
          <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 1px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
          </div>
        </div>
      </div>
    </header>

    <div class="site-section site-hero" style="position: relative; bottom: 200px;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="10">Last Upgraded - Feb, 2019</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="20" style="color:red;font-size:40px;"">Choose Your Career Path for 2019</h1>
            <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="30">Choose Now !!!</span>
            <div class="dropdown">
                    <button class="btn-custom"><span>Select a Career Path</span></button>
                    <div class="dropdown-content">
                    <a href="/details?cpath=ML" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Machine Learning</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>AWS Architect</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>MicroService Architect</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Devops</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Cloud Automation Engineer</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Front-end developer</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Back-end developer</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Python Developer</span></a>
                    <a href="#" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Java Developer</span></a>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>

        <div class="row" style=" top: 400px;padding: 200px;">
          
            <div class="col-md-12 text-center">
              <div class="border-top pt-5">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
    
  </body>
</html>
